<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    时间:<span th:text="${#dates.format(date,'yyyy-MM-dd HH:mm:ss')}">31313</span><br/>
    金额:<span th:text="'￥'+${#numbers.formatDecimal(Price,1,2)}">180</span><br/>

<p th:text="${#strings.abbreviate(strText,60)}">内容</p>

<span th:if="${!#strings.isEmpty(str2)}">字符串str2不为空</span>

<span th:text="${#strings.substring(str2,0,4)}">字符串str2的值</span>



</body>
</html>